<div class="p-5 text-center">
  <% if logged_in? %>
    <h1 class="mb-3">Welcome to BampBank,  <%= current_user.name %>!</h1>
  <% else %>
    <h1 class="mb-3">Welcome to BampBank!</h1>
    <h4 class="mb-3">100 BampEuros for Free when Signing Up!</h4>
  <% end %>
</div>